<div class="page-body">
  <div class="row">
    <div class="col-md-12">
      <app-card [title]="'ใบส่งสินค้า'" [headerContent]="'รายการใบส่งสินค้า'" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group form-inline pull-left">                  
                <button type="button" class="btn btn-success" [routerLink]="['/deliverynote/create']" routerLinkActive="router-link-active" >
                  <i class="fa fa-plus"></i> New Devliery Note</button>
                </div>  
          </div>
          <div class="col-md-6">
              <div class="form-group form-inline pull-right">
                  <input type="text" class="form-control ml-1 mr-1" placeholder="Search DN No."
                      name="searchString" [(ngModel)]="searchParams.searchString">
                  <button type="submit" class="btn btn-success" (click)="getDNs()">
                    <i class="fa fa-search"></i> Search</button>
                </div>  
          </div>
        </div>
        <ngx-datatable
        class="data-table"
        [rows]="dns"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="pagination.totalItems"
        [offset]="pagination.currentPage"
        [limit]="pagination.itemsPerPage"
        (page)='setPage($event)'>
        
        <ngx-datatable-column prop="dnNo" name="No."></ngx-datatable-column>
        <ngx-datatable-column prop="dnDate">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd/MM/yyyy'}} 
        </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="companyName" name="Customer"></ngx-datatable-column>
        <ngx-datatable-column prop="grandTotal" name="Grand Total"></ngx-datatable-column>
        <ngx-datatable-column prop="paidAmount" name="Paid"></ngx-datatable-column>
        <ngx-datatable-column prop="balance" name="Balance"></ngx-datatable-column>
        <ngx-datatable-column prop="statusName" name="Status">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="label" [ngClass]="{'label-warning': value === 'Draft',
                                           'label-success': value === 'Approved',
                                           'label-primary': value === 'Cancelled'}">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Command">
          <ng-template let-column="column" ngx-datatable-header-template>
            <strong>Command</strong>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown class="dropdown-secondary dropdown">
              <button ngbDropdownToggle type="button" class="btn btn-mini btn-primary dropdown-toggle waves-light" id="ddCmd" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">Command
                <i class="icofont icofont-navigation-menu"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" aria-labelledby="ddCmd">

                <a [routerLink]="['/deliverynote/view/', row.id]" class="dropdown-item waves-light waves-effect">
                   View
                </a>
                <a [routerLink]="['/deliverynote/edit/', row.id]" class="dropdown-item waves-light waves-effect">
                  <i class="icofont icofont-edit-alt"></i> Edit
                </a>
                <a (click)="cancelDn()" class="dropdown-item waves-light waves-effect">
                  <i class="icofont icofont-close"></i> Cancel
                </a>

              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      </app-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  
</div>
