.dropdown-menu.show {
    position: fixed;
    top: auto !important;
    left: auto !important;
    width: inherit;
  }
  .datatable-header .datatable-header-cell {
    background-color: aqua      
  }
    
  